
.text
{
  font-size:20px;
   position:absolute;
   top:30%;
   left:65%;
   font-weight:bold;
       
}

    

.button1:hover {
    background-color:#00C760;
}
.button2:hover {
    background-color:#00C760;
}
