<html>
<head>
	<link href="add.css" rel="stylesheet">
<style>
h3
{
  
   margin-left:450px;
   top:30%;
   margin-top:100px;
   font-weight:bold;
   font-size:70px;
       
}
#map
{
   
   margin-left:500px;
   top:70%;
}

#text
{
height:50px;
}
table
{
 margin-top:5px;
 margin-left: 400px;
}
input[type="submit"]
{
   
   margin-left:600px;
   margin-top:50px;
   font-weight:bold;
   font-size:70px;
   padding: 10px;
   border: none;
   font-size: 20px;
   border-radius: 15px;
       
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body background="reve1.jpg">
<table cellspacing="10">
<div class="topnav">
	  <a class="active" href="/wish">Home</a>
       	  <a href="#">Addwish</a>
	  <a href="/showwish">Browsewish</a>
          <li style="float:right"><a class="act" href="#log">Logout</a></li>
	</div>

<form action="#" method="post">
	  <!--img src="reve1.jpg" style="width:100%;height:100%"-->
           <h3>Add Your Wish </h3>
          <tr><td>
           
	  <h2> Wishname: </h2></td>
          <td><input type="text" name="Wishname"  size="40"  id="text"required>
      	  
           </td></tr>
           <tr><td>
           
          <h2> Category: </h2></td><td>
         <select name="category">
         <option value="Education">Education</option>
         <option value="Fashion">Fashion</option>
         <option value="Homeaccesories">Homeaccesories</option>
         <option value="Electronics">Electronics</option>
         </select>
          
           </tr></td>
           <tr><td>
           <h2> Description :</h2></td><td>
        <textarea rows="4" cols="40" name="Description">
        </textarea>
          </tr></td>
       <table>
          <input type ="submit"  value ="Submit Your wish">
       	</form>	

 
</body>
</html>
