<html>
<head>
<style>

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body  >
<form action="#" method="post">
	<div class="topnav">
	  <a class="active" href="/">Home</a>
          <a href="/wish">Wish</a>
	  <a href="/addwish">Addwish</a>
	  <a href="/showwish">Browsewish</a>
          <li style="float:right"><a class="act" href="#log">Logout</a></li>
	</div>


</form>
</body>
</html>
