<html>
<head>
<link href="stylesheet.css" rel="stylesheet">
<title>Registration</title>
</head>
<body>
<div class ="main">
<h1 id="/register">Create Your Account</h1></div>
<!--a href="https://www.w3schools.com/html/">WELCOME TO NEXT PAGE</a-->
<form action="adregister.rb" method="post">
<table align="left">

<tr><td><img src="register.jpg" alt="SORRY INTERUPTED" style="width:700px;height:600px;">
</td>
<body style="background-color:lightgrey;">
<td>
          
	<div class="NAME" >
	NAME:....................
        <input type="text" name="NAME" value="" size="35">
      	</div> 
       	<div class="EMAIL">
       	EMAIL:...................
        <input type="text" name="EMAIL" value=""size="35">
	</div>
      	<!--div class="USERNAME">
	USERNAME:..........
        <input type="text" name="USERNAME" value=""size="35">
	</div-->
      	<div class="PASSWORD">
	PASSWORD:..........
        <input type="text" name="PASSWORD" value=""size="35">
	</div>

      	<div class="CONFORM PASSWORD">
      	CONFIRM:.............
        <input type="text" name="CONFORM PASSWORD" value=""size="35">
	</div>
                
	<div class="PHONENUMBER">
	PHONE NUMBER:
         <input type="text" name="PHONENUMBER" value=""size="35">
	</div>
 
<button type="button" >
  REGISTER NOW
</button> 
<h3>Already have an account?Click here to <a href="login.html">Login</a></h3>
<!--div class="image"-->
  </table>
</form>  
<!--img src="website7.png"style="width:300px;height:300px; margin-bottom:70px;"></td></div-->

</body>
</html>
