<html>
<head>
<link href="stylesheet.css" rel="stylesheet">
<title>Registration</title>
<style>
input[type="submit"]
{
   margin-left:150px;
   margin-top:30px;
   font-weight:bold;
   font-size:100px;
   padding:10px;
   border: none;
   width:250px;
   font-size: 20px;
   border-radius: 30px;
   background-color: #72B372;     
}


</style>
</head>
<body>
<div class ="main">
<h1 id="/register">Create Your Account</h1></div>
<!--a href="https://www.w3schools.com/html/">WELCOME TO NEXT PAGE</a-->
<form action="#" method="post">
<table align="left">

<tr><td><img src="register.jpg" alt="SORRY INTERUPTED" style="width:700px;height:600px;">
</td>
<body style="background-color:lightgrey;">
<td>
          
	<div class="NAME" >
	NAME:....................
        <input type="text" name="NAME" value="" size="35" required>
      	</div> 
       	<div class="EMAIL">
       	EMAIL:...................
        <input type="email" name="EMAIL" value=""size="35" required>
	</div>
      	<!--div class="USERNAME">
	USERNAME:..........
        <input type="text" name="USERNAME" value=""size="35">
	</div-->
      	<div class="PASSWORD">
	PASSWORD:..........
        <input type="password" name="PASSWORD" value=""size="35" required>
	</div>

      	<div class="CONFORM PASSWORD">
      	CONFIRM:.............
        <input type="password" name="CONFORM PASSWORD" value=""size="35" required>
	</div>
                
	<div class="PHONENUMBER">
	PHONE NUMBER:
         <input type="text" name="PHONENUMBER" value=""size="35" required>
	</div>
 
<input type="submit" value ="Register" >

<h3>Already have an account?Click here to <a href="/login">Login</a></h3>
<!--div class="image"-->
  </table>
</form>  
<!--img src="website7.png"style="width:300px;height:300px; margin-bottom:70px;"></td></div-->

</body>
</html>
