
.image {
    position: relative;
    width: 100%;
    max-width: 4000px;
}

.image img {
    width: 100%;
    height: auto;
}
.text
{
  font-size:20px;
   position:absolute;
   top:30%;
   left:65%;
   font-weight:bold;
       
}
.button1 {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    font-size: 20px;
    padding: 20px 34px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width:20%;
    
}

.button2 {
    position: absolute;
    top: 55%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:black;
    color: white;
    font-size: 20px;
    padding: 20px 34px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    width:20%
   
}
.button1:hover {
    background-color:#00C760;
}
.button2:hover {
    background-color:#00C760;
}
